/* Contact */
.contact-box {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}
input,
textarea {
  background: transparent;
  border: 2px dashed $border-color;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  color: $silver;
  border-radius: 35px;
  width: 100%;
  margin: 10px;
  outline: none;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  width: 200px;
}
#submit:hover {
  background-color: $orange;
  color: $txt-color;
  cursor: pointer;
  border: none;
  transition: 0.5s ease;
}
