.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.meni ul li {
  display: inline;
  a {
    font-size: 15px;
    font-weight: 700;
    margin: 0 20px;
    color: $txt-color;
    &:hover {
      color: $orange;
      transition: 0.5s ease;
    }
  }
}
